<!-- main/templates/main/home.html -->
{% extends 'main/base.html' %}
{% load custom_filters %}
{% block title %}صفحه اصلی{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">به آلدو گالری خوش آمدید</h1>
        <p class="lead"> بهترین محصولات را با بهترین قیمت‌ها پیدا کنید</p>
    </div>



    <div class="row mb-4">
        <div class="col-md-3">
            <h5>دسته‌بندی‌ها</h5>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h5>فروشگاه‌ها</h5>
            <ul class="list-group">
                {% for seller in sellers %}
                    <li class="list-group-item">
                        <a href="{% url 'seller_detail' seller.id %}">{{ seller.shop_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <form method="GET" action="{% url 'home' %}" class="mb-4">
                <div class="input-group">
                    <input type="text" name="search" placeholder="جستجو..." class="form-control"
                           style="flex: 0 0 70%;"/>
                    <div class="input-group-append d-flex" style="flex: 0 0 30%;">
                        <select name="sort" class="form-select" style="margin-right: 5px;">
                            <option value="best_selling">پرفروش‌ترین</option>
                            <option value="highest_rated">بالاترین امتیاز</option>
                            <option value="most_expensive">گران‌ترین</option>
                        </select>
                        <button type="submit" class="btn btn-primary" style="margin-right: 5px;">جستجو</button>
                    </div>
                </div>
            </form>
            <div class="row">
                {% for product in products %}

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                     class="img-fluid max-height">
                            {% endif %}
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                <h5 class="card-title">{{ product.name }}</h5>
                                {% if dis_val > 0 %}
                                    <p class="card-text"><s>{{ product.price|pnumber_style }} تومان</s>
                                        <strong>{{ product.final_price|pnumber_style }} تومان</strong></p>
                                {% else %}
                                    <p class="card-text">{{ product.price|pnumber_style }} تومان</p>
                                {% endif %}
                                <p class="card-text">امتیاز: {{ average_rating|default:"ندارد"  }}</p>
                                <a href="{% url 'product_detail' product.id %}"
                                   class=" btn btn-info btn border border-secondary rounded-pill px-3 text-primary">جزئیات
                                    محصول</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
