header h1{
    color: blue;
}


.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sidebar h5 {
    margin-bottom: 10px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 5px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}